body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
.body {
    font-family: lucida sans ;
}

.container {
    width: 85%;
    margin: auto;
}

.margin-bottom {
    margin-bottom: 20px
}
.navbar-a {
  display: block;
  color: #222;
  text-decoration: none;
  padding: 10px 15px;
  font-weight: bold;
}
.navbar-a:hover {
    color: #eb5424
}
@media (max-width : 1125px) {
.a1 {
  display: none;
}
.a2 {
  display: inline-block;
  width: 100%;
  font-size: 20px;
}
}
.web {
  font-weight : normal;
  color : #eb5424;
  margin-left: 5px;
  text-transform: capitalize;
}
